@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .pa {
        padding-top: 3.5rem; /* 96px */
        padding-bottom: 3.5rem; /* 96px */
        padding-left: 2rem;
        padding-right: 2rem;
    }
}