@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap') format('truetype');
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(23, 158, 53);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 97, 31);
}

body {
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 640px) {
    .pa {
        padding-top: 3.5rem;
        /* 96px */
        padding-bottom: 3.5rem;
        /* 96px */
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.border-top-bottom-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.h-w-full {
    height: 100%;
}